{% extends "base.html" %}
{% load index %}

{%block title %}{{ name }} | {{block.super}} {% endblock %}

{% block content %}
<table width="100%"><tr><td width="60%" style="padding-right:20px;">
<img src="{{ img }}">
<p><b style="font-size:320%;">{{ name }}</b>&emsp;&emsp;&emsp;<b style="font-size:300%;">{{ pop }}</b>
<br>By <a href="{% url 'stats:artist' id %}?token={{ token }}"><b>{{ artist }}</b></a><br>
<!-- {{ type }}<br> -->
<i>{{ date }}</i><br>
{{ genres }}</p>

<p>{{ label }}</p>

<ul>
	{% for key, value in album.items %}
        <li>{{ key }} : {{ value }}</li>
    {% endfor %}
</ul>
<h3>Tracks</h3>
<ol>
	{% for track in tracks %}
        <li><a href="{{ track|index:'2' }}" target="_blank">{{ track|index:'0' }}</a>&emsp;{{ track|index:'1' }}</li>
    {% endfor %}
</ol>
</td>
<td valign="top">
    <iframe src="https://open.spotify.com/embed?uri={{ uri }}&theme=white" width="300" height="380" 
    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</td></tr></table>
{% endblock %}