{% extends "base.html" %}
{% load index %}

{%block head %}{{ name }} | {{block.super}} {% endblock %}

{% block tron %}
<table width="100%" cellpadding="10"><tr><td width="55%">
	<img src={{ img }}>

	<p><font size="+3"><b>{{ name }}</b></font>&emsp;&emsp;&emsp;<font size="+5"><b>{{ pop }}</b></font><br>
	<i>{{ foll }}</i></p>

	<p><b><i>{{ genres }}</i></b></p>

	<h3>Top Tracks</h3>
	<ol>
		{% for track in tops %}
	        <li><a href={{ track|index:'2' }} target="_blank">{{ track|index:'0' }}</a>&emsp;{{ track|index:'1' }}</li>
	    {% endfor %}
	</ol>

</td><td valign="top">
	<h4>Related Artists</h4>
	{% for artist in related %}
    	<img src={{ artist|index:'2' }}></img>&emsp;
		<a href="{% url 'stats:artist' artist|index:'1' %}?token={{ token }}">{{ artist|index:'0' }}</a>
		&emsp;&emsp;&emsp;<font size='+1'>{{ artist|index:'3' }}</font><br>
	{% endfor %}
</td></tr></table>

<h3>Albums</h3>
<ol>
	{% for album in albums %}
        <li><img src={{ album|index:'4' }}>&emsp;<font size="+2"><a href="{% url 'stats:album' album|index:'1' %}?token={{ token }}&play=">{{ album|index:'0' }}</a></font>&emsp;{{ album|index:'2' }}&ensp;-&ensp;{{ album|index:'3' }}</li>
    {% endfor %}
</ol>
{% endblock %}