{% extends "base.html" %}
{% load index %}

{%block title %}{{ name }} | {{block.super}}{% endblock %}
{%block head %}{% endblock%}
{% block content %}
<table width="100%"><tr></tr><td width="60%">
{%if img %}
	<img src="{{ img }}">
{% endif %}
<p><b style="font-size:400%;">{{ name }}</b><br>
	<iframe src="https://open.spotify.com/follow/1/?uri={{ uri }}&size=detail&theme=light" 
	width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" 
	allowtransparency="true"></iframe><br>
{% if id %}
	{{ id }}<br>
{% endif %}
<i>{{ email }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ foll }} Followers</i></p>
<br>
<div class="list-group list-group-flush" style="font-size: 160%">
	<a class="list-group-item" href="{% url 'stats:recent' username %}">Recently Played</a>
	<a class="list-group-item" href="{% url 'stats:top' username %}?type=tracks&time=short_term">Top</a>
    <a class="list-group-item" href="{% url 'stats:saved' username %}?type=tracks">Saved Tracks</a>
    <a class="list-group-item" href="{% url 'stats:saved' username %}?type=albums">Saved Albums</a>
	<a class="list-group-item" href="{% url 'stats:following' username %}">Following</a>
    <!-- <a href="{% url 'stats:genres' username %}">Genres</a> -->
</div></td>
<td valign="top">
	<b style="font-size:240%;">Friends</b><br><p>
	<ol style="font-size: 120%">
    {% for user in users %}
        <li><a href="{% url 'stats:details' user|index:'0' %}">{{ user|index:'2' }}</a></li>
    {% endfor %}
</ol>	</p>
</td></tr>
</table>
{% endblock %}