{% load staticfiles %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #FFFFFF"> 
  <!-- #191414; -->
  <a class="navbar-brand" href="/">
    <img src="{% static 'logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt=".">
  </a>
  <a class="navbar-brand" href="https://open.spotify.com/track/3wrqiZJKMSpLBvgFJfFOp1" target="_blank">
    Sound & Color</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-4">
      <li class="nav-item ">
          <a class="nav-link" href="{% url 'stats:new' %}">New Releases</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'stats:graphs' %}">Graph</a>
      </li>
<!--       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->

    </ul>
    <form action="/search" method="get" class="form-inline col-sm-4 mr-auto">
      <input class="form-control form-control-sm col-sm-10" type="search" placeholder="Search" name="query" aria-label="Search">
    </form>
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
      
          <li class="nav-item"><a class="nav-link" href="{% url 'stats:recent' request.user %}">Recent</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'stats:top' request.user %}?type=tracks&time=short_term">Top</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'stats:saved' request.user %}?type=albums">Saved</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'stats:following' request.user %}">Following</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'stats:users' %}">Friends</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'stats:details' request.user %}">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'stats:logout' %}">Logout</a>
            </div>
          </li>      
          <li><a class="nav-link" href=""></a></li>

        {% else %}
          <li class="nav-item"><a class="nav-link" 
          href="https://accounts.spotify.com/authorize/?client_id=e6f5f053a682454ca4eb1781064d3881&response_type=code&redirect_uri=http://www.localhost:8000/auth&scope=user-top-read%20user-follow-read%20user-library-read%20user-read-recently-played%20user-read-email%20user-read-currently-playing%20streaming">
              Log In<span class="sr-only">(current)</span></a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="">Sign Up<span class="sr-only">(current)</span></a></li> -->

        {% endif %}
    </ul>
    
  </div>
</nav>