{% extends "base.html" %}
{% load index %}

{%block title %}New Releases | {{block.super}} {% endblock %}
{% block head %}New Releases{% endblock %}

{% block content %}
<br>
<div class="list-group list-group-flush">
	{% for album in new %}
        <p class="list-group-item">{{ album|index:'2' }}<br>
        <img width="128" height="128" src="{{ album|index:'6' }}">&emsp;<font size="+2"><a href="{% url 'stats:album' album|index:'1' %}?token={{ token }}&play=">{{ album|index:'0' }}</a></font>
        &ensp;-&ensp;{{ album|index:'3' }}&ensp;-&ensp;
        <a href="{% url 'stats:artist' album|index:'5' %}?token={{ token }}">{{ album|index:'4' }}</a>
        </p>
    {% endfor %}
</div>
{% endblock %}