{% extends "base.html" %}
{% load index %}

{%block title %}Recently Played | {{block.super}} {% endblock %}
{% block head %}Recently Played{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'stats:details' username %}">{{ username }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Recently Played</li>
    </ol>
</nav>
<div class="list-group list-group-flush">
    {% for rec in recent %}
    <div class="list-group-item">
        <div class='row align-items-center'>
            <img width="64" height="64" src="{{ rec|index:'8' }}">
            <div class='col'><a href="{{ rec|index:'1' }}" target="_blank">{{ rec|index:'0' }}</a> by <a href="{% url 'stats:artist' rec|index:'3' %}">{{ rec|index:'2' }}</a>&emsp;|&emsp;{{ rec|index:'6' }}<br>Album: <a href="{% url 'stats:album' rec|index:'5' %}">{{ rec|index:'4' }}</a></div>
            <div>{{ rec|index:'7' }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}