{% extends "base.html" %}
{% load index %}

{%block title %}Saved Tracks | {{block.super}} {% endblock %}
{%block head %}
<span style="font-size:128%;">Tracks&emsp;&emsp;</span><a style="font-size:100%;" href = .?type=albums>Albums</a>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'stats:details' username %}">{{ username }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Saved Tracks</li>
    </ol>
</nav>
<h4>Total: {{ count }}</h4>
<div class="list-group list-group-flush">
    {% for track in saved %}
        <div class='list-group-item'>
            <div class='row align-items-center'>
                <img width="64" height="64" src="{{ track|index:'7' }}">
                <div class='col'><a href="{{ track|index:'1' }}" target="_blank">{{ track|index:'0' }}</a> by <a href="{% url 'stats:artist' track|index:'3' %}">{{ track|index:'2' }}</a>&emsp;|&emsp;{{ track|index:'6' }}<br>Album: <a href="{% url 'stats:album' track|index:'5' %}">{{ track|index:'4' }}</a></div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}