{% extends "base.html" %}
{% load index %}

{%block title %}Saved Albums | {{block.super}} {% endblock %}
{%block head %}
<a style="font-size:120%;" href = .?type=tracks>Tracks</a><span style="font-size:160%;">&emsp;&emsp;Albums</span>
{% endblock %}

{% block content %}
<br>
<h4>Total: {{ count }}</h4>
<div class="list-group list-group-flush">
{% for album in saved %}
    <p class="list-group-item"><img width="64" height="64" src="{{ album|index:'5' }}">&emsp;<font size="+2"><a href="{% url 'stats:album' album|index:'1' %}?play=">{{ album|index:'0' }}</a></font>&emsp;{{ album|index:'2' }}&ensp;-&ensp;<a href="{% url 'stats:artist' album|index:'4' %}">{{ album|index:'3' }}</a></p>
    {% endfor %}
    </div>
{% endblock %}