{% extends "base.html" %}
{% load index %}

{%block title %} | {{block.super}} {% endblock %}
{%block head %}{% endblock %}

{% block content %}

{% endblock %}


<!-- <li><a href="{% url 'mess' %}">Messages <span class="badge">{{ messages.count }}</span> </a></li>

<li><a href="{% url 'profile' %}">{{ request.user }}</a></li> -->


with open('stats/spotify.txt', 'r') as f:
data = f.read()

data = json.loads('[' + data[:-1] + ']')

for js in data:
data2 = {
"grant_type": "refresh_token",
"refresh_token": js['refresh_token'],
"client_id": 'e6f5f053a682454ca4eb1781064d3881',
"client_secret": "e4294f2365ec45c0be87671b0da16596"
}

res = requests.post("https://accounts.spotify.com/api/token", data=data2)

res = requests.get("https://api.spotify.com/v1/me?access_token=" + res.json()['access_token'])
js1 = res.json()
print(js1)
x = User.objects.filter(username=js1['id'])
if not x:
    print (js1['id'])
    user = User(username=js1['id'], email=js1['email'], name=js1['display_name'], access_token=js['access_token'], refresh_token=js['refresh_token'])
    user.set_password('password')
    user.save()   
