{% extends "base.html" %}
{% load index %}

{%block head %}Top Artists | {{block.super}} {% endblock %}

{% block tron %}

<h3><a href = ".?type=tracks&time=short_term">Top Tracks</a>&emsp;&emsp;Top Artists</h3>

<p>
	<a href=".?type=artists&time=short_term">Last 4 weeks</a>&emsp;
	<a href=".?type=artists&time=medium_term">Last 6 months</a>&emsp;
	<a href=".?type=artists&time=long_term">All Time</a>
</p>
<br>
<ol>
    {% for artist in tops %}
        <li><img width="64" height="64" src="{{ artist|index:'2' }}"></img>&emsp;<font size='+2'><a href="{% url 'stats:artist' artist|index:'1' %}?token={{ token }}">{{ artist|index:'0' }}</a></font>&emsp;&emsp;&emsp;<font size='+3'>{{ artist|index:'3' }}</font></li>
    {% endfor %}
</ol>
{% endblock %}
