{% extends "base.html" %}
{% load index %}

{%block title %}Top Artists | {{block.super}} {% endblock %}
{% block head %}
<a style="font-size:100%;" href = ".?type=tracks">Tracks</a><span style="font-size:128%;">&emsp;&emsp;Artists</span>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'stats:details' username %}">{{ username }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Top Artists</li>
        <!-- <span class="align-self-end"><a href="{% url 'stats:details' username %}">Top Tracks</></span> -->
    </ol>
</nav>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Last 4 weeks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Last 6 months</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">All Time</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="list-group list-group-flush">
        {% for artist in tops|index:'0' %}
            <div class="list-group-item">
                <div class="row align-items-center">
                    <img width="64" height="64" src="{{ artist|index:'2' }}">
                    <div class='col'><font size='+2'><a href="{% url 'stats:artist' artist|index:'1' %}">{{ artist|index:'0' }}</a></font></div>
                    <div style='padding-right:10px'><font size='+3'>{{ artist|index:'3' }}</font></div>
                </div>
            </div>
        {% endfor %}
        </div></div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="list-group list-group-flush">
            {% for artist in tops|index:'1' %}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <img width="64" height="64" src="{{ artist|index:'2' }}">
                        <div class='col'><font size='+2'><a href="{% url 'stats:artist' artist|index:'1' %}">{{ artist|index:'0' }}</a></font></div>
                        <div style='padding-right:10px'><font size='+3'>{{ artist|index:'3' }}</font></div>
                    </div>
                </div>
        {% endfor %}
    </div></div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="list-group list-group-flush">
        {% for artist in tops|index:'2' %}
            <div class="list-group-item">
                <div class="row align-items-center">
                    <img width="64" height="64" src="{{ artist|index:'2' }}">
                    <div class='col'><font size='+2'><a href="{% url 'stats:artist' artist|index:'1' %}">{{ artist|index:'0' }}</a></font></div>
                    <div style='padding-right:10px'><font size='+3'>{{ artist|index:'3' }}</font></div>
                </div>
            </div>
        {% endfor %}
    </div></div>
</div>

{% endblock %}