{% extends "base.html" %}
{% load index %}

{%block title %}Top Tracks | {{block.super}} {% endblock %}
{% block content %}

<h3>Top Tracks&emsp;&emsp;<a href = ".?type=artists&time=short_term">Top Artists</a></h3>

<p>
	<a href=".?type=tracks&time=short_term">Last 4 weeks</a>&emsp;
	<a href=".?type=tracks&time=medium_term">Last 6 months</a>&emsp;
	<a href=".?type=tracks&time=long_term">All Time</a>
</p>
<br>
<div class="list-group list-group-flush">
	{% for top in tops %}
        <p class="list-group-item"><a href="{{ top|index:'1' }}" target="_blank">{{ top|index:'0' }}</a>&emsp;//&emsp;<a href="{% url 'stats:artist' top|index:'3' %}?token={{ token }}">{{ top|index:'2' }}</a>&emsp;//&emsp;<a href="{% url 'stats:album' top|index:'5' %}?token={{ token }}">{{ top|index:'4' }}</a>&emsp;//&emsp;{{ top|index:'6' }}</p>
    {% endfor %}
</div>
{% endblock %}
